
.swiper {
  padding: 0 32px 24px;

  @media (max-width: 768px) {
    padding: 0 0 24px;
  }

  &-wrapper {
    margin-bottom: 20px;
  }

  &-button-prev {
   color: #DA1422 !important;
  }

  &-button-next {
    color: #DA1422 !important;
  }

  &-pagination {
    bottom: 0px !important;
    &-bullet {
      opacity: inherit;

      &-active {
        background: black !important;
      }
    }
  }
}
